# Rust
/target/

# Arquivos de ambiente
.env
.env.*

# Logs
*.log
LEIA-ME*.txt

# Backups
*.bak
*.tmp

# Chaves e credenciais
*.pem
*.key
credentials.txt
passwords.txt

# Sistema operacional
.DS_Store
Thumbs.db